@import "./variables.scss";
.container {
  padding: 20px 15px;
  @include center(center, flex-start, column);
  overflow: auto;
  .title {
    width: 100%;
    @include center(center, space-between, row);
    margin-bottom: 15px;
    p {
      color: #a1aebe;
    }
    span {
      color: #fff;
      background-color: $primary;
      width: 25px;
      border-radius: 45%;
      text-align: center;
    }
    .contactsBadge {
      background-color: rgb(171, 185, 201);
    }
  }
  .request {
    @include card();
    margin-bottom: 10px;
    padding: 10px;
    & > div:nth-child(1) {
      margin-bottom: 10px;
      @include center(center, flex-start, row);
      column-gap: 10px;
      font-size: 0.9em;
      font-weight: 300;
      span {
        font-size: 1.1em;
        font-weight: 600;
      }
    }
    & > div:nth-child(2) {
      @include center(center, center, row);
      column-gap: 10px;
      button {
        width: 40%;
        border-radius: 10px;
        text-transform: capitalize;
      }
      button:nth-child(1) {
        background-color: $primary;
        color: #fff;
      }
      button:nth-child(2) {
        color: rgb(73, 96, 126);
        border: 1px solid rgb(233, 234, 241);
      }
    }
  }
  .friendsContainer {
    @include card();
    width: 100%;
    padding: 20px;
    @include center(center, flex-start, column);
    .friend {
      @include center(center, flex-start, row);
      column-gap: 20px;
      width: 100%;
      margin: 7px 0;
    }
  }
}
