@import "./variables.scss";
.container {
  @include center(center, flex-start, column);
  section {
    width: 90%;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .username {
    height: 80px;
    @include center(center, center, row);
    column-gap: 20px;
    p {
      span:nth-child(1) {
        text-transform: capitalize;
      }
      span:nth-child(3) {
        font-weight: 300;
        font-size: 0.9em;
        color: rgba(0, 0, 0, 0.479);
      }
    }
  }
  .navigation {
    padding: 20px;
    height: 250px;
    ul {
      height: 100%;
      list-style-type: none;
      @include center(center, center, column);
      li {
        height: 30%;
        width: 100%;
        border-bottom: 1px solid #f6f7f8;
        @include center(center, flex-start, row);
        font-weight: 500;
        color: #54687f;
        column-gap: 20px;
        cursor: pointer;
        transition: all 0.3s;
        padding-left: 10px;
        &:hover {
          color: $primary;
        }
        &.selected {
          background-color: #fcfbfc;
          border-left: 1px solid $primary;
          color: $primary;
        }
      }
      li:last-child {
        border-bottom: 0;
      }
    }
  }
}
