@import "./variables.scss";
.loadingScreen {
  height: 100vh;
  width: 100vw;
  @include center(center, center, row);
  color: $primary;
}
.container {
  font-weight: 500;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f9fbfc;
  overflow: hidden;
  .mainGrid {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    & > div {
      height: calc(100vh - 80px);
    }
    .main {
      position: relative;
      @include center(center, flex-start, column);
      & > div {
        margin-top: 30px;
      }
      .profileContainer {
        overflow: auto;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        &::-webkit-scrollbar {
          display: none;
        }
        .closeBtn {
          position: absolute;
          left: 90%;
          top: 10px;
          color: $primary;
          width: 50px;
          height: 50px;
          background-color: #fff;
          border-radius: 50%;
          @include center(center, center, column);
          cursor: pointer;
          font-size: 1.5em;
          transition: all 0.2s;
          &:hover {
            font-size: 2em;
          }
        }
      }
    }
    .posts {
      min-height: 300px;
      overflow: auto;
      color: $primary;
      width: 100%;
      @include center(center, flex-start, column);
      .skeleton {
        justify-content: flex-start;
        width: 95%;
        * {
          margin-bottom: 10px;
        }
      }
    }
  }
}
