@import "./variables.scss";
.container {
  height: 100vh;
  width: 100vw;
  @include center(center, center, column);
  background-image: url("/layered-waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -220px;
  form {
    width: 400px;
    height: 450px;
    background-color: rgb(118, 54, 143);
    @include center(center, center, column);
    border-radius: 10px;
    position: relative;
    button {
      color: #fff;
    }
    .backBtn {
      position: absolute;
      top: 10px;
      left: 5px;
    }
    .submitBtn {
      width: 300px;
      height: 50px;
      border-radius: 6px;
      margin-top: 50px;
      font-weight: 300;
      font-size: 1.3em;
      //#cc2b5e → #753a88
      background: linear-gradient(to right, #fec72c, #ff135e);
      background-size: 200% auto;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-position: right center;
      }
    }
    .loadingScreen {
      width: 100%;
      height: 100%;
      @include center(center, center, row);
      color: #fff;
    }
  }
  .alert {
    width: 600px;
  }
  @media screen and (max-width: 425px) {
    background-size: fill;
    background-position: initial;
    form {
      width: 95%;
      background-color: rgba(118, 54, 143, 0.815);
      .submitBtn {
        font-size: 1.5em;
      }
    }
    .alert {
      width: 95vw;
    }
  }
}
