@import "./variables.scss";
.container {
  height: 100vh;
  width: 100vw;
  @include center(center, center, column);
  background-image: url("/layered-waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -220px;
  form {
    width: 400px;
    height: 450px;
    background-color: rgb(118, 54, 143);
    @include center(center, center, column);
    border-radius: 10px;
    position: relative;
    button {
      color: #fff;
    }
    .backBtn {
      position: absolute;
      top: 10px;
      left: 5px;
    }
    .submitBtn {
      width: 300px;
      height: 50px;
      border-radius: 6px;
      margin-top: 50px;
      //#cc2b5e → #753a88
      background: linear-gradient(to right, #fec72c, #ff135e);
      background-size: 200% auto;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-position: right center;
      }
    }
  }
}
