$primary: #a975ff;
@mixin center($a, $b, $c) {
  display: flex;
  align-items: $a;
  justify-content: $b;
  flex-direction: $c;
}
@mixin card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
